@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Kanit:wght@500&display=swap');
body{
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;
    overflow: hidden;*/
    font-weight: 600;
    font-family: "cairo", sans-serif;
    background: 
    linear-gradient(125deg, black 62%, rgb(39, 248, 248) 62%);
}

.container{
    height: 81.4vh;
    width: 90%;
    background-color: rgb(29, 13, 13);
    margin: 100px auto;
    display: flex;
    
}

.left{
    width: 100%;
    background-image: url("../images/cameratravelshot1.jpg");
    /*background-size: 42.8em;
    background-size: 684.67px;*/
    background-size: cover;
     
}

h1{
    margin-left: 25px;
     color: white;
     font-size: 45px;

}

.capture{
    margin-left: 25px;
    color: white;
    font-size: 1.2em;
}

.right{
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    
}

.logo-1 {
    height: 40px;
    margin: 18px 15px;
    width: 150px;
    margin-bottom: 230px;
}

.logo2 {
    height: 60px;
    margin: 18px 15px;
    width: 250px;
}

.lefticons{
    height: 50px;
    color: white;
}

.righticons{
    height: 40px;
    color: white;
}

input{
    display: block;
    width: 600px;
    height: 50px;
    margin: auto;
    background-color: black;
    border: none;
    padding-left: 20px;
    color: white;
    font-size: 1.2em;
    
}

.btn{
    margin: 10px 50px;
    width: 250px;
    height: 50px;
    background-color: rgb(39, 248, 248);
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;


}

.forgot{
    text-align: right;
    margin-right: 175px;
    color: rgba(224, 217, 217, 0.767);
    font-size: 1.1em;

    
}

.or {
    margin-top: 50px;
    margin-bottom: 20px;
    color: rgba(224, 217, 217, 0.767);
    font-size: 1.1em;
}
