@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Kanit:wght@500&display=swap');
body{
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;
    overflow: hidden;*/
    font-weight: 600;
    font-family: "cairo", sans-serif;
    background: 
    linear-gradient(125deg, black 62%, rgb(39, 248, 248) 62%);
}

.container{
    height: 81.4vh;
    width: 70%;
    margin: 100px auto;
    display: flex;
    border-radius: 20px;
    
}

/*LEFT SECTION OF THE PAGE*/
.left{
    width: 100%;
    background-image: url("../images/cameratravelshot1.jpg");
    /*background-size: 42.8em;
    background-size: 684.67px;*/
    background-size: cover;
    height: 81.4vh;
    border-top-left-radius: 20px;  
    border-bottom-left-radius :20px;
    position: relative;
}

.logo-1 {
    height: 40px;
    margin: 18px 15px;
    width: 150px;
    margin-bottom: 55px;
}

h1{
    margin-left: 35px;
     color: white;
     font-size: 4em;
}

.capture{
    margin-left: 35px;
    color: white;
    font-size: 2em;
    line-height: 1em;
    
}

.lefticons{
    height: 50px;
    color: white;
    position: absolute;
    top: 820px;
    left: 320px;
    font-size: 30px;
    width: 150px;  
}

.lefticons .fab {
    margin: 5px;
   }

/*FOR THE RIGHT SIDE OF PAGE*/

.right{
    width: 100%;
    height: 81.4vh;
    /*margin-top: auto;
    margin-bottom: auto;*/
    border-top-right-radius: 20px;  
    border-bottom-right-radius :20px;
    background-color: rgb(37, 37, 37);
    position: relative;
}

.logo2 {
    height: 65px;
    margin: 18px 15px;
    width: 250px;
    /*position: relative;*/
    position: absolute;
    top: 130px;
    left: 251px;  
}

.righticons{
    color: white;
    position: absolute;
    top: 215px;
    left: 337px;
    font-size: 30px;
}

input[type="email"],
input[type="password"]{
    display: block;
    width: 600px;
    /*width: 80%;*/
    height: 60px;
    margin: auto;
    margin-bottom: 15px;
    background-color: black;
    border: 0.5PX solid grey;
    padding-left: 20px;
    color: white;
    font-size: 1.2em;
    box-sizing: border-box; 
    outline: none;
}

/*
input[type="email"]:focus,
input[type="password"]:focus{
    border: 1px solid #869960;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.13);
}
*/

.inputfield{
    /*background-color: #eeccee;*/
    padding: 15px;
    padding-bottom: 0;
    position: absolute;
    top: 325px;
    width: 100%;
    box-sizing: border-box;
}

/*To hide input labels*/
.hidden-label{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;

}

.btn{
    margin: 10px 50px;
    width: 250px;
    height: 50px;
    background-color: rgb(39, 248, 248);
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 25px;
    border-radius: 30px/20px;
    text-transform: uppercase;
    position: absolute;
    top: 530px;
    left: 211px;
}

/*
.btn:hover,.btn:focus{
    background-color: lawngreen;
    color: black;
    border: 3px solid brown ;
}   */

.forgot{
    margin: 0;
    padding: 0 5px;
    text-align: right;
    /*margin-right: 65px;*/
    color: rgba(224, 217, 217, 0.767);
    font-size: 1.1em;
    position: absolute;
    top: 54%;
    left: 65%;
}

/*seems text-align does not work with position declaration*/

.or {
    /*margin-top: 50px;*/
    margin-bottom: 20px;
    color: rgba(224, 217, 217, 0.767);
    font-size: 1.1em;
    position: absolute;
    top: 275px;
    left: 291px;
    padding: 0 5px;
}


/*media querry for small screens*/

@media screen and (max-width:420px){
    body{
        padding: 0;
        margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
        background: 
        linear-gradient(125deg, black 57%, rgb(39, 248, 248) 57%);
    }
    
    .container{
        height: 90vh;
        width: 95%;
        margin: 30px 25px;
        margin: 10% 7%;
        display: flex;
        border-radius: 20px;
        
    }
    
    .left{
        display: none;
    }

    .right{
        width: 90%;
        border-radius: 20px;
        position: relative;
    }

    .logo2{
        height: 8%;
        width: 50%;
        position: absolute;
        top: 16%;
        left: 18%;
    }

    .righticons{
        color: white;
        position: absolute;
        top: 28.5%;
        left: 37%;
        font-size: 1.25em;
    }

    input[type="email"],
    input[type="password"] {
    display: block;
    width: 100%;
    height: 40px;
    margin: 2.5%;
    margin-bottom: 10px;
    background-color: black;
    border: 0.5PX solid grey;
    padding-left: 10px;
    color: white;
    font-size: 1em;
    box-sizing: border-box; 
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    }

    .inputfield{
    /*background-color: #eeccee;*/
    padding: 10px;
    padding-bottom: 0;
    position: absolute;
    top: 40%;
    width: 95%;
    box-sizing: border-box;
    }

    .forgot{
    margin: 0;
    padding: 0 5px;
    text-align: right;
    /*margin-right: 65px;*/
    color: rgba(224, 217, 217, 0.767);
    font-size: 0.8em;
    position: absolute;
    top: 61%;
    left: 46%;
    }

    .or {
        margin-bottom: 20px;
        color: rgba(224, 217, 217, 0.767);
        font-size: 0.8em;
        position: absolute;
        top: 35%;
        left: 22%;
        padding: 0 5px;
    }

    .btn{
        margin: 5px 25px;
        width: 35%;
        height: 5%;
        background-color: rgb(39, 248, 248);
        font-size: 0.8em;
        color: white;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        position: absolute;
        top: 67%;
        left: 24%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    }

}

/*media querry for medium screens*/

@media (min-width: 421px) and (max-width: 768px){
    body{
        padding: 0;
        margin: 0;
        /*border: 3px solid white;
        height: 100vh;*/
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
        background: 
        linear-gradient(125deg, black 57%, rgb(39, 248, 248) 57%);
    }
    
    .container{
        width: 85%;
    }
    
    /*.left{
        position: relative;
    }*/

    .lefticons{
        top: 94%;
        left: 37%;
        /*font-size: 30px;*/
    }

    .capture{
        margin-left: 5%;
        font-size: 1.5em;
        line-height: 1.1em;
    }

    h1{
        margin-left: 5%;
         color: white;
         font-size: 2.8em;
    }

   /* .right{
        position: relative;
        border-top-right-radius: 20px;  
        border-bottom-right-radius :20px;
    }*/

    .logo2{
        height: 8%;
        width: 50%;
        position: absolute;
        top: 16%;
        left: 18%;
    }

    .righticons{
        color: white;
        position: absolute;
        top: 27%;
        left: 37%;
        font-size: 1.25em;
    }

    input[type="email"],
    input[type="password"] {
    /*display: block;*/
    width: 100%;
    height: 2.5em;
    margin: 2.5%;
    margin-bottom: 5%;
    background-color: black;
    border: 0.5PX solid grey;
    padding-left: 4%;
    color: white;
    font-size: 1.3em;
    box-sizing: border-box; 
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    }

    .inputfield{
    /*background-color: #eeccee;*/
    padding: 10px;
    padding-bottom: 0;
    position: absolute;
    top: 40%;
    width: 95%;
    box-sizing: border-box;
    }

    .forgot{
    margin: 0;
    padding: 0 5px;
    color: rgba(224, 217, 217, 0.767);
    font-size: 1.2em;
    position: absolute;
    top: 57%;
    left: 32%;
    }

    .or {
        margin-bottom: 20px;
        color: rgba(224, 217, 217, 0.767);
        font-size: 1.2em;
        position: absolute;
        top: 36%;
        left: 12%;
        padding: 0 5px;
    }

    .btn{
        margin: 5px 25px;
        width: 40%;
        height: 5%;
        background-color: rgb(39, 248, 248);
        font-size: 1em;
        color: white;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        position: absolute;
        top: 65%;
        left: 24%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    }

}

/*media querry for Large screens*/

@media (min-width: 769px) and (max-width: 1200px){
    body{
        padding: 0;
        margin: 0;
        /*border: 3px solid white;*/
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
        background: 
        linear-gradient(125deg, black 57%, rgb(39, 248, 248) 57%);
    }
    
    .container{
        width: 85%;
        height: 85.35vh;
    }

    .lefticons{
        top: 94%;
        left: 37%;
        /*font-size: 30px;*/
    }

    .capture{
        margin-left: 5%;
        font-size: 1.5em;
        line-height: 1.4em;
    }

    h1{
        margin-left: 5%;
         font-size: 3.5em;
         margin-top: 160px;
    }

    .logo2{
        height: 6.9%;
        width: 50%;
        position: absolute;
        top: 16%;
        left: 20%;
    }

    .righticons{
        top: 26%;
        left: 37%;
        font-size: 1.7em;
    }

    input[type="email"],
    input[type="password"] {
    /*display: block;*/
    width: 100%;
    height: 3em;
    margin: 2.5%;
    margin-bottom: 5%;
    background-color: black;
    border: 0.5PX solid grey;
    padding-left: 4%;
    color: white;
    font-size: 1.8em;
    box-sizing: border-box; 
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    }

    .inputfield{
    /*background-color: #eeccee;*/
    padding: 10px;
    padding-bottom: 0;
    position: absolute;
    top: 40%;
    width: 95%;
    box-sizing: border-box;
    }

    .forgot{
    margin: 0;
    padding: 0 5px;
    color: rgba(224, 217, 217, 0.767);
    font-size: 1.5em;
    position: absolute;
    top: 60%;
    left: 35%;
    }

    .or {
        margin-bottom: 20px;
        color: rgba(224, 217, 217, 0.767);
        font-size: 1.5em;
        position: absolute;
        top: 36%;
        left: 15%;
        padding: 0 5px;
    }

    .btn{
        margin: 5px 25px;
        width: 40%;
        height: 5%;
        background-color: rgb(39, 248, 248);
        font-size: 1em;
        color: white;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        position: absolute;
        top: 66%;
        left: 24%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    }

}